<mat-card>
    <mat-card-header>
        <mat-card-title>Team Scores</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table fxFill>
            <tr>
                <td>1st</td>
                <td>
                    Iowa
                </td>
                <td class="text-right">
                    129
                </td>
            </tr>
            <tr>
                <td>2nd</td>
                <td>
                    Penn State
                </td>
                <td class="text-right">
                    113.5
                </td>
            </tr>
            <tr>
                <td>3rd</td>
                <td>
                    Oklahoma State
                </td>
                <td class="text-right">
                    99.5
                </td>
            </tr>
            <tr>
                <td>4th</td>
                <td>
                    Arizona State
                </td>
                <td class="text-right">
                    74
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
