<mat-card>
    <mat-card-header>
        <mat-card-title>Team Scores</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table fxFill>
            <tr>
                <td>1st</td>
                <td>
                    Iowa
                </td>
                <td class="text-right">
                    129
                </td>
            </tr>
            <tr>
                <td>2nd</td>
                <td>
                    Penn State
                </td>
                <td class="text-right">
                    113.5
                </td>
            </tr>
            <tr>
                <td>3rd</td>
                <td>
                    Oklahoma State
                </td>
                <td class="text-right">
                    99.5
                </td>
            </tr>
            <tr>
                <td>4th</td>
                <td>
                    Arizona State
                </td>
                <td class="text-right">
                    74
                </td>
            </tr>
            <tr>
                <td>5th</td>
                <td>
                    Michigan
                </td>
                <td class="text-right">
                    69
                </td>
            </tr>
            <tr>
                <td>6th</td>
                <td>
                    NC State
                </td>
                <td class="text-right">
                    68
                </td>
            </tr>
            <tr>
                <td>7th</td>
                <td>
                    Minnesota
                </td>
                <td class="text-right">
                    64
                </td>
            </tr>
            <tr>
                <td>8th</td>
                <td>
                    Missouri
                </td>
                <td class="text-right">
                    64
                </td>
            </tr>
            <tr>
                <td>9th</td>
                <td>
                    Ohio State
                </td>
                <td class="text-right">
                    46.5
                </td>
            </tr>
            <tr>
                <td>10th</td>
                <td>
                    Northwestern
                </td>
                <td class="text-right">
                    45
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
