.mat-card-wrapper {
    padding: 1em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.mat-card {
    overflow: hidden;
    background: transparent;
    border-radius: 0;
}

.mat-card-image-wrapper {
    border-radius: .5em;
    overflow: hidden;
    max-height: 130px;
}

.mat-card-image {
    width: auto;
    height: 100%;
    margin: 0;
}

.mat-card-image:first-child {
    margin: 0;
}

.mat-card-content {
    margin-left: 16px;
}