<!-- <mat-card *ngFor="let athlete of athletes">
    <mat-card-header>
      <img mat-card-avatar src={{athlete.imgSrc}}/>
      <mat-card-title>{{athlete.name}}</mat-card-title>
      <mat-card-subtitle>{{athlete.group}}</mat-card-subtitle>
      <mat-card-subtitle>{{athlete.weightClass}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>  -->

<table mat-table
       [dataSource]="athletes" multiTemplateDataRows
       class="mat-elevation-z8">
    <ng-container matColumnDef="image">
        <td mat-cell *matCellDef="let element"><img class="thumpnail" src="{{element.image}}" alt=""></td>
    </ng-container>
    <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element"> {{element.name}}<br>{{element.team}}</td>
    </ng-container>
    <ng-container matColumnDef="group">
        <td mat-cell *matCellDef="let element"> {{element.division}}<br>{{element.weightClass}}</td>
    </ng-container>
    <ng-container matColumnDef="place">
        <td mat-cell *matCellDef="let element"> {{element.place}} </td>
    </ng-container>
    

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
                <img class="example-element-image" src={{element.image}}/>
                <div class="example-element-symbol"> {{element.name}} </div>
                <div class="example-element-name"> {{element.group}} </div>
                <div class="example-element-weight"> {{element.weightClass}} </div>
            </div>
            <div class="example-element-description">
                {{element.description}}
            </div>
            </div>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>