<button mat-flat-button color="primary"><mat-icon aria-hidden="false" aria-label="Filter">tune</mat-icon> Filter</button>

<table mat-table
       [dataSource]="athletes" multiTemplateDataRows
       class="mat-elevation-z8 w-100 mt-2">
    <ng-container matColumnDef="image">
        <td mat-cell *matCellDef="let element" class="image"><img class="thumpnail" src="{{element.image}}" alt=""></td>
    </ng-container>
    <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element" class="name"> {{element.name}}<br>
            <span class="text-mute">{{element.team}}</span></td>
    </ng-container>
    <ng-container matColumnDef="group">
        <td mat-cell *matCellDef="let element"> {{element.division}}<br>{{element.weightClass}}</td>
    </ng-container>
    <ng-container matColumnDef="place">
        <td mat-cell *matCellDef="let element"> {{element.place}} </td>
    </ng-container>
    <ng-container matColumnDef="arrow">
        <td mat-cell *matCellDef="let element">
          <button mat-button><mat-icon>expand_more</mat-icon></button>
        </td>
    </ng-container>
    

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="more-info-buttons">
                    <button mat-button mat-raised-button>Bracket</button>
                    <button mat-button mat-raised-button>Profile</button>
                    <button *ngIf="!element.favorite" mat-button><mat-icon>star_outlined</mat-icon> </button>
                    <button *ngIf="element.favorite" mat-button><mat-icon color="primary">star</mat-icon> </button>
                </div>
                <!-- <div class="more-info-buttons">
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip>Bracket</mat-chip>
                        <mat-chip>Profile</mat-chip>
                    </mat-chip-list>
                </div> -->
                <div class="current-details" *ngIf="element.currentDetail">
                    <div class="upNext detail-section" *ngIf="element.currentDetail?.upNext?.length">
                        <h3>UP NEXT</h3>
                        <mat-list>
                            <mat-list-item *ngFor="let event of element.currentDetail.upNext">
                                <span class="round">Round {{event.round}}</span>
                                <span>: {{event.description}}</span>
                                <span>&nbsp;&nbsp;•&nbsp;&nbsp;Bout {{event.bout}}</span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div class="result detail-section" *ngIf="element.currentDetail?.result?.length">
                        <h3>RESULTS</h3>
                        <mat-list>
                            <mat-list-item *ngFor="let event of element.currentDetail.result">
                                <span class="round">Round {{event.round}}</span>
                                <span>: {{event.description}}</span>
                                <span *ngIf="event.bout">&nbsp;&nbsp;•&nbsp;&nbsp;Bout {{event.bout}}</span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div class="social-row">
                    <mat-icon>facebook</mat-icon>
                    <mat-icon>info</mat-icon>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

</table>