tr{
    &.detail-row {
        height: 0;
        background-color: #1c1c1f;
        color: #f5f5f7;
    }
    &.mat-row {
        background-color: #0D0D0D;
    }
}
td.mat-cell {
    &.name {
        font-size: 1.08em;
    }
    &.image {
        width: 10%;
    }
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding: 0;
}

tr{
    &.element-row {
        height: 60px;
    }
    &.element-row:not(.expanded-row):hover {
        background: #1c1c1f;
        color: #f5f5f7;
    }
    &.element-row:not(.expanded-row):active {
        background: #1c1c1f;
        color: #f5f5f7;
    }
    &.element-row.expanded-row {
        background: #1c1c1f;
        color: #f5f5f7;
    }
}

.thumpnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.more-info-buttons {
    padding:.25em 1em;
    .mat-button-base {
        margin: 8px 8px 8px 0px;
        font-size: 1.2em;
    }
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;

    .current-details{
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        
        
        .detail-section {
            flex: 0 0 auto;
        }
        h3 {
            font-size: 1.07em;
            margin: 1em;
        }
        .mat-list-item {
            font-size: 1em;
            
            .round {
                font-size: 1.05em;
                font-weight: 1000;
            }
        }
        .mat-list-base {
            padding-top: 2px;
        }
    }
    .social-row {
        padding: 10px;
        .mat-icon {
            margin-right: 10px;
        }
    }
}



.element-description-attribution {
  opacity: 0.5;
}
