td.trbl {
    border: 1px solid white;
}

td.rb {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

td.tr {
    border-right: 1px solid white;
    border-top: 1px solid white;
}

td.r {
    border-right: 1px solid white;
}

td.b {
    border-bottom: 1px solid white;
}

a {
    text-decoration: none;
    color: #ff140f;
}

.filter-container .mat-form-field {
    width: 168px;
    font-size: 85%;
}

.filter-container .mat-form-field + .mat-form-field {
    margin-left: .5em;
}

.bracket-container {
    width: 100%;
    overflow: auto;
}

@media (min-width: 600px) {
    .filter-container .mat-form-field {
        width: initial;
        font-size: 100%;
    }
}
