/* You can add global styles to this file, and also import other style files */
@import "./theme";
@import "./variables";

html,
body {
  height: 100%;
  background-color: $background-color;
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: var(--primary);
}

.p-2 {
  padding: 1em;
}

.m-2
 {
     margin: 1em;
 }

.mt-0
 {
     margin-top: 0;
 }

.pb-2 {
    padding-bottom: 1em;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-mute {
    color: #808080;
}

.w-100 {
    width: 100%;
}

.mat-optgroup-label {
    color: var(--primary-color) !important;
    border-bottom: 1px solid var(--primary-color) !important;
}

.large-button {
  font-size: 1.25em !important;
  line-height: 50px !important;
}