/* You can add global styles to this file, and also import other style files */
@import "./theme";
@import "./variables";

html,
body {
  height: 100%;
  background-color: $background-color;
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-2 {
  padding: 1em;
}

.pb-2 {
    padding-bottom: 1em;
}

.text-right {
  text-align: right;
}

